
Body {
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
}

.App-header {
  text-align: center;  
}

.main-pokemon-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 auto;
  min-width: 25%;
  margin: 10px 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

.poke-img {
  height: 200px;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px;
}
